html {
    text-align: center;
    padding-top: 10px;
    background-image: url('image/galaxy-space.gif');
    background-size: 100%;
    background-attachment: fixed;
    color: cyan;
}

body {
    background: rgba(17, 36, 16, 0.8);
    width: 800px;
    padding: 50px 50px;
    margin: 15px auto;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
}
canvas {
    filter: blur(50%);
}